html {
    background-color: rgb(231, 225, 214);
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    border-bottom: dotted darkslateblue 2px;
    padding-bottom: 5px;
}

h1 {
    color: #1050aa;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 2.2em; 
}

#job-title {
    font-weight: bold;
}

.experience,
.education {
    border: 2px dashed brown;
    margin: 10px 0 ;
}

a[href*="github"]:hover {
    color: crimson;
}

h2::first-letter {
    font-size: 3rem;
}

a[href*='github']::after{
    content: url(../image/GitHub-Mark-32px.png);
}

Header a:last-child {
    margin-left: 20px;
}

.education .education-list > li:first-child {
    font-style: italic;
}

.skills li{
    list-style-type: none;
}

.experience li ~ li {
    color: darkgreen;
}

a[href$=".edu"]::before {
    content: url(../image/link.png);
}

.skills li:last-child {
    font-size: 1.3rem;
    background-color: rgb(120,120,120,0.2);
}

header a:visited {
    color:rgb(237,122,127);
}